.comment__newcomment.round
  %h3= raw(t("new_comment"))
  = form_for post, remote: true do |f|
    = invisible_captcha
    = render 'shared/error_messages', :object => f.object
    .form-group
      = f.text_area :text, :class => "form-control", :rows => 5

    .form-group
      = f.label :signature, t("signature")
      = t("required")
      = f.text_field :signature, :class => "form-control"

    .form-group
      = f.label :website, t("your_website")
      = t("optional")
      http://
      = f.text_field :website, :class => "form-control"

    = f.submit t("send"), class: "form-control btn btn-success"
