%h1 Visits

= will_paginate
= page_entries_info @visits

%table.table
  %thead
    %td ID
    %td Post id
    %td Time
    %td IP
    %td City
    %td Country
    %td Browser
  - @visits.each do |visit|
    %tr
      %td= visit.id
      %td= link_to visit.post.number, visit.post
      %td= visit.timestamp
      %td= visit.ip
      %td= visit.city
      %td= visit.country
      %td= visit.browser
