.row1__langs
  = link_to("English", url_for( :locale => :en))
  &bull;
  = link_to("中文", url_for( :locale => :zh))
  &bull;
  = link_to("polski", url_for( :locale => :pl))
.row1__title
  %h1
    = t("elefanto")
    %small= t("memoirs")
.row1__content
  = yield :header_text
