.row1--header
  .row1__title
    = image_tag "elephant-zh-long.png", :id => "elephant"
  .row1__menu
    .row1--blue= link_to t("homepage"), :controller => :pages, :action => :home, :locale => current_locale
    .row1--green= link_to t("blog"), :controller => :posts, :action => :index, :locale => current_locale
    .row1--blue= link_to t("about"), :controller => :pages, :action => :about, :locale => current_locale
    .row1--green= link_to t("links") , :controller => :pages, :action => :links,  :locale => current_locale
  .w3-center.row1__langs
    = link_to("English", url_for( :locale => :en))
    &bull;
    = link_to("中文", url_for( :locale => :zh))
    &bull;
    = link_to("polski", url_for( :locale => :pl))
