.row1__langs
  = link_to("English",lang: :en)
  &bull;
  = link_to("中文", lang: :zh)
  &bull;
  = link_to("polski", lang: :pl)
  &bull;
  = link_to("Esperanto", lang: :eo)
.row1__title
  %h1
    = t("elefanto")
    %br.row1__title--linebreak
    %span.row1__subtitle= t("memoirs")
