.row1__langs
  = link_to("English", url_for( :locale => :en))
  &bull;
  = link_to("中文", url_for( :locale => :zh))
  &bull;
  = link_to("polski", url_for( :locale => :pl))
.row1__title
  = image_tag "elephant-zh-long.png", class: "img-responsive", id: 'elephant'
%nav
  .col-sm-3.row1--link
    = link_to image_tag("menu-zh-homepage.png", alt: t("homepage")), :controller => :pages, :action => :home, :locale => current_locale
  .col-sm-3.row1--link
    = link_to image_tag("menu-zh-blog.png", alt: t("blog")), :controller => :posts, :action => :index, :locale => current_locale
  .col-sm-3.row1--link
    = link_to image_tag("menu-zh-about.png", alt: t("about")), :controller => :pages, :action => :about, :locale => current_locale
  .col-sm-3.row1--link
    = link_to image_tag("menu-zh-faq.png", alt: t("faq")), :controller => :pages, :action => :faq,  :locale => current_locale
