.row1__langs
  = link_to("English", url_for( :locale => :en))
  &bull;
  = link_to("中文", url_for( :locale => :zh))
  &bull;
  = link_to("polski", url_for( :locale => :pl))
  &bull;
  = link_to("Esperanto", url_for(:locale => :eo))
.row1__title
  %h1
    = t("elefanto")
    %br.row1__title--linebreak
    %span.row1__subtitle= t("memoirs")
