.navigation
  .wrapper--nopadding
    .navigation__link= link_to t("homepage"), root_path
    .navigation__link= link_to t("blog"), blog_path
    .navigation__link= link_to t("about"), about_path
    .navigation__link.navigation--right
      - if current_locale == :zh
        = link_to("English", lang: :en)
      - else
        = link_to("中文版", lang: :zh)
