%h1 Subscribe for the Moroz Newsletter

= form_for @subscription do |f|
  .form-group
    = f.label :first_name, "First name:"
    = f.text_field :first_name, class: 'form-control', placeholder: 'E.g. John'
    %small.form-text.form-muted I'm asking for your name to know who is reading my Newsletter. I will not share this information with anyone else.

  .form-group
    = f.label :last_name, "Last name:"
    = f.text_field :last_name, class: 'form-control', placeholder: 'E.g. Smith'

  .form-group
    = f.label :email, "E-mail:"
    = f.text_field :email, class: 'form-control', placeholder: 'user@example.com...'
    %small.form-text.form-muted I will not send you SPAM or share this information with anyone else.
  
  .form-group
    = f.label :country, "Country:"
    = collection_select :subscription, :country, @countries, :name, :name, {prompt: true}, {class: 'form-control'}

  .form-group
    = f.label :language, "Language:"
    = collection_select :subscription, :language, Subscription::SUBSCRIPTION_LANGUAGES, :to_s, :to_s, {prompt: true}, {class: 'form-control'}
  = f.submit "Subscribe!", class: 'btn__submit'
