= render 'shared/error_messages', :object => f.object
.w3-group
  = f.text_field :title, :class => "w3-input blue-d2"
  = f.label :title, 'Title:', :class => "w3-label"

.w3-group
  = f.text_field :number, :size => 5, :class => "w3-input blue-d2"
  = f.label :title, 'Post number:', :class => "w3-label"
  (blog posts only - type in 0 for a non-blog post)

.w3-group
  = f.text_field :description, :class => "w3-input blue-d2"
  = f.label :description, 'Description:', :class => "w3-label"

.w3-group
  = f.text_field :language, :class => "w3-input blue-d2"
  = f.label :language, 'Language:', :class => "w3-label"

.w3-group
  = f.text_area :content, :class => "w3-input blue-d2"
  = f.label :content, :class => "w3-label"

.w3-group
  <label class="w3-checkbox" for="post_textile_enabled">
  <input name="post[textile_enabled]" type="hidden" value="0" />
  <input class="w3-checkbox blue-d2" type="checkbox" value="1" name="post[textile_enabled]" id="post_textile_enabled" />
  <div class="w3-checkmark"></div>
  Textile enabled<br />(check if you want to use Textile for rendering)
  </label>

= f.submit "Send", :class => "w3-btn blue-d2"
