= render 'shared/error_messages', :object => f.object
.form-group
  = f.label :title, 'Title:'
  = f.text_field :title, :class => "form-control"

.form-group
  = f.label :title, 'Post number:'
  = f.text_field :number, :size => 5, :class => "form-control"
  (blog posts only - type in 0 for a non-blog post)

.form-group
  = f.label :description, 'Description:'
  = f.text_field :description, :class => "form-control"

.form-group
  = f.label :url, "Slug:"
  = f.text_field :url, :class => "form-control"

.form-group
  = f.label :language, 'Language:'
  = f.collection_select :language, Post::LANGUAGES, :first, :last,
       :include_blank => false

.form-group
  = f.label :content
  = f.text_area :content, :class => "form-control", :rows => 12

.form-group
  <input name="post[textile_enabled]" type="hidden" value="0" />
  <input type="checkbox" value="1" name="post[textile_enabled]" id="post_textile_enabled" />
  Textile enabled<br />(check if you want to use Textile for rendering)
  </label>

= f.submit "Send", :class => "btn btn-default"
