.post__linkbox
  .row
    .col-sm-6.col-xs-12
      %strong= t("previous_post")
      %br
      - if @previous_post
        = link_to "#{post_number(@previous_post.number)}#{@previous_post.title}", @previous_post
      - else
        = raw(t("no_such_post"))
    .col-sm-6.col-xs-12.text-right
      %strong= t("next_post")
      %br
      - if @next_post
        = link_to "#{post_number(@next_post.number)}#{@next_post.title}", @next_post
      - else
        = raw(t("no_such_post"))
  .row
    .col-sm-12.col-xs-12.text-center
      %strong= link_to t("blog_archive"), "/blog"
