.post
  %h3= post.title_with_number
  %span.timestamp
    - if logged_in?
      Modified:
      = post.updated_at.to_s
      %br
      Created:
      = post.created_at.to_s
      %br
    - else
      = l post.created_at, :format => :long
    = link_to 'Permalink', post, class: 'btn__permalink'
    - if logged_in?
      = link_to "Edit", edit_post_path(post), class: 'btn__edit'
      = link_to "Delete", post, :method => :delete, data: { :confirm => "You sure?"},
        :title => "Delete #{post.title}", :class => 'btn__delete'
  - unless post.description.blank?
    %span.post_description= do_formatting(post.description, post.textile_enabled)
  - unless @lang_versions.blank?
    .post__lang_versions= raw(t("language_versions", language: t(post.language), versions: languages(@lang_versions)))
  - unless @categories.blank?
    .post__categories= raw(t("category_list", list: category_list(@categories)))
  = content_tag :div, do_formatting(post.content, post.textile_enabled), class: "post--lang_#{post.language}"
  %p.views= t('post_views', :views => post.views+1)
  = render :partial => 'posts/linkbox', :post => post
