.post
  %h3
    = post_number(@post.number) + @post.title
  = #render 'posts/buttons', :post => @post
  %span.timestamp
    - if logged_in?
      Modified:
      = @post.updated_at.to_s
      %br
      Created:
      = @post.created_at.to_s
    - else
      = l @post.updated_at, :format => :long
    &bull;
    = link_to 'Permalink', post_path(@post)
    - if logged_in?
      &bull;
      = link_to "Edit", edit_post_path(post)
      &bull;
      = link_to "Delete", post, :method => :delete, :confirm => "You sure?",
        :title => "Delete #{post.title}"
  - unless @post.description == nil or @post.description == ""
    %span.post_description= do_formatting(@post.description, @post.textile_enabled)
  -#%div.lang_versions= raw(lang_version(@post))
  -# lang_class = "lang_#{@post.properties[:lang]}" unless @post.properties[:lang].nil?
  = content_tag :div, do_formatting(@post.content, @post.textile_enabled), class: "post__content"
  %p.views= "This post has been viewed " + pluralize(@post.views+1, 'time') + "."
  -# = render :partial => 'category', :collection => @categories
  -# = render 'posts/signature' unless @post.number == 0
  -# = render :partial => 'linkbox', :post => @post
  - if Rails.env.development?
    - if @post.textile_enabled
      TEXTILE IS ENABLED
    - else
      TEXTILE NOT ENABLED
