%h1= t("blog_archive")
%strong= link_to "Categories", categories_path
= render 'navigation'
- posts.each do |post|
  = render :partial => 'posts/post_list', :locals => { :post => post }
= render 'navigation'
