%h1= t("blog_archive")
= link_to t('categories'), categories_path, class: 'btn lblue'
%p
  = will_paginate posts
  %br
  = page_entries_info posts
  = render 'navigation'
- posts.each do |post|
  = render :partial => 'posts/post_list', :locals => { :post => post }
= will_paginate posts
