%h1= t("blog_archive")
= will_paginate
= page_entries_info @posts
%br
- for post in @posts
    = render :partial => 'posts/post_list', :locals => { :post => post }
= will_paginate
= page_entries_info @posts
