%h1= t("blog_archive")
%strong= link_to t('categories'), categories_path, class: 'btn btn-info'
%p
  = will_paginate posts
  %br
  = page_entries_info posts
  = render 'navigation'
- posts.each do |post|
  = render :partial => 'posts/post_list', :locals => { :post => post }
= will_paginate posts
