%h1!= "Add posts to category &ldquo;#{@category.name_en}&rdquo;"
= link_to "Back to category", @category

%ul
  - for post in @posts
    %li
      != "#{post.read_number} <b>#{post.title}</b> (id: #{post.id})"
      %b= link_to "+", add_category_path(:post_id => post.id), :method => :post, :class => 'btn btn-xs btn-success'
