%h1!= "Add posts to category &ldquo;#{@category.name_en}&rdquo;"
= link_to "Back to category", @category

%ul
  - for post in @posts
    %li
      - unless post.categories.include?(@category)
        = render 'add', :post_id => post.id
      - else
        = render 'remove', :post_id => post.id
      != "#{post.read_number} <b>#{post.title}</b> (id: #{post.id})"
