%h1 Upload image

= form_for @image do |f|
  = render 'shared/error_messages', object: f.object

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"

  .form-group
    = f.label :url
    = f.file_field :asset, class: "form-control"
  = f.submit 'Upload', class: "form-control"
