%h1 Upload image

= form_for @image, html: { class: "directUpload", data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } } do |f|
  = render 'shared/error_messages', object: f.object

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"

  .form-group
    = f.label :url
    = f.file_field :url, class: "form-control"
  = f.submit class: "form-control"
