<!DOCTYPE html>
%html
  %head
    %title
      = @title || "Elefanto — Memoirs of an Elephant"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="dz69cMD0CqaDioTMEsQ3i2DVT9jK_tjegfnc0757_t8" />
    = yield :head
    = csrf_meta_tags
  %body
    .row1
      .wrapper.container
        = render 'shared/header'
        .row1__content
          = render 'shared/header_nav'
    .row2
      .wrapper.container
        - flash.each do |key, value|
          %div{:class => "row2__flashbox alert alert-#{key}"}= value
        = yield
    .row3
      .wrapper.container
        = render 'shared/footer'
