<!DOCTYPE html>
<html>
<head>
  <title>Karol Moroz' Personal Website</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <%= stylesheet_link_tag    'w3', 'custom', media: 'all', 'data-turbolinks-track' => true %> -->
  <link rel="stylesheet" href="/public/stylesheets/w3.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
