<!DOCTYPE html>
%html
  %head
    %title
      = @title ? @title : "Elefanto — Memoirs of an Elephant"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'w3', 'custom', 'mobile', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    <meta name="viewport" content="width=device-width, initial-scale=1">
    = csrf_meta_tags
  %body
    .container
      = render 'shared/header_mobile'
      .row2
        - flash.each do |key, value|
          %div{:class => "alert alert-#{key}"}= value
        = yield
      = render 'shared/footer'
